<div class="steps">
  <div class="timeline" *ngFor="let step of steps">
    <div class="existing-step container right">
      <div class="content">
        <div class="step-details">
          <app-step-status-chip
            [status]="step.status"
          ></app-step-status-chip>
          <p>{{ step.description }}</p>
        </div>
        <button id="edit-step-button" nbButton ghost size="medium" (click)="editStep(step.id)">Edit</button>
      </div>
    </div>
  </div>
  <div class="timeline new-step-input">
    <div class="container right">
      <div class="content">
        <input
          nbInput
          fullWidth
          type="text"
          placeholder="Next Step"
          [(ngModel)]="newStepDescription"
          (keyup.enter)="addTestToCase()"
        />
      </div>
    </div>
  </div>
</div>
