//   background: #EEF2F7;

.projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project {
  min-width:300px;
  height: 100px;
  text-decoration: none;
  margin: 20px;
  border-radius: var(--border-radius);
}

.project-add:hover {
  cursor: pointer;
}

.project > nb-card {
  height: 100%;
}

.project-title {
  font-size: 1.5em;
}

nb-icon {
  font-size: 1.1em;
}

nb-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}