@import 'themes';

@import '~@nebular/theme/styles/globals';

/* CUSTOM MATERIAL TABLE THEMES */
// common datatable colors
$ngx-datatable-background: var(--background-basic-color-1) !default;
$ngx-datatable-box-shadow: none;
$ngx-datatable-row-odd-background: #eee !default;

.ngx-datatable {
  border: 1px solid var(--divider-color);
  border-radius: var(--border-radius);
}

// default row and cell background colors
$ngx-datatable-default-background: var(--background-basic-color-1) !default;
$ngx-datatable-default-background-hover: var(--color-basic-transparent-hover) !default;
$ngx-datatable-default-background-focus: #ddd !default;

// default background colors for cell selection style
$ngx-datatable-cellselection-background-hover: #eee !default;
$ngx-datatable-cellselection-background-focus: #ddd !default;

// background and text colors for selected cell / row
$ngx-datatable-selected-active-background: var(--color-basic-transparent-hover) !default;
$ngx-datatable-selected-active-color: var(--text-primary-color) !default;

$ngx-datatable-selected-active-background-hover: var(--color-basic-transparent-hover) !default;
$ngx-datatable-selected-active-color-hover: var(--color-primary-hover) !default;

$ngx-datatable-selected-active-background-focus: var(--color-primary-transparent-200) !default;
$ngx-datatable-selected-active-color-focus: var(--text-primary-color) !default;

// colors for header elements
$datatable-header-cell-background: var(--background-basic-color-1) !default;
$datatable-header-cell-color: var(--text-basic-color) !default;
$datatable-header-border-bottom-color: var(--divider-color) !default;
$datatable-header-resize-handle-color: #eee !default;

// colors for table body elements
$datatable-row-detail-background: #f5f5f5 !default;
$datatable-body-cell-color: var(--text-basic-color) !default;
$datatable-group-header-background: #f5f5f5 !default;
$datatable-group-header-border-top-color: #d9d8d9 !default;
$datatable-group-header-border-bottom-color: #d9d8d9 !default;

// colors for footer elements
$datatable-footer-cell-color: var(--text-basic-color) !default;
$datatable-footer-border-top-color: var(--divider-color) !default;
$datatable-pager-color: rgba(0, 0, 0, 0.54) !default;
$datatable-pager-color-hover: rgba(0, 0, 0, 0.75) !default;
$datatable-pager-background-hover: rgba(158, 158, 158, 0.2) !default;
$datatable-pager-disabled-color: rgba(0, 0, 0, 0.26) !default;
$datatable-pager-disabled-background: transparent !default;
$datatable-pager-active-background: rgba(158, 158, 158, 0.2) !default;

// colors for summary row elements
$datatable-summary-row-background: #ddd !default;
$datatable-summary-row-background-hover: #ddd !default;

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@include nb-install() {
  @include nb-theme-global();
};

// NOTE: this removes browser outline on nb tabs for project component,
// placing this elsewhere in the app had no effect.
[tabindex="-1"]:focus {
  outline: 0!important;
}

// NOTE: this allows the app to style the `table` element generated by
// ng-generic-table
.test-table {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
}

.test-table th {
  height: 50px;
  border-bottom: 1px solid var(--divider-color);
  padding: 0 10px;
}

.test-table tr td {
  padding: 0 10px;
  height: 50px;
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}