@import 'themes';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

@import '~@angular/material/theming';
@include mat-core();
$mat-app-components-primary: mat-palette($mat-indigo);
$mat-app-components-accent:  mat-palette($mat-pink, A200, A100, A400);
$mat-app-components-theme:   mat-light-theme($mat-app-components-primary, $mat-app-components-accent);

@include mat-expansion-panel-theme($mat-app-components-theme);

// NOTE: this removes browser outline on nb tabs for project component,
// placing this elsewhere in the app had no effect.
[tabindex="-1"]:focus {
  outline: 0!important;
}