@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
/*
 * Other themes 
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/corporate';
*/
$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((

  // add your variables here 
  layout-background-color: card-background-color,
  layout-padding: 22px 0 0 0

), default, default);

$nb-themes: nb-register-theme((

  // add your variables here 
  layout-background-color: card-background-color,
  layout-padding: 22px 0 0 0

), dark, dark);
