@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
/*
 * Other themes 
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/corporate';
*/
$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((

  // add your variables here 
  layout-background-color: card-background-color,
  layout-padding: 22px 0 0 0

), default, default);

$nb-themes: nb-register-theme((

  // add your variables here 
  layout-background-color: card-background-color,
  layout-padding: 22px 0 0 0

), dark, dark);

$nb-themes: nb-register-theme((

  color-primary-100: #F1D6FF,
  color-primary-200: #DFADFF,
  color-primary-300: #CA84FF,
  color-primary-400: #B666FF,
  color-primary-500: #9433FF,
  color-primary-600: #7325DB,
  color-primary-700: #5519B7,
  color-primary-800: #3B1093,
  color-primary-900: #29097A,
  color-primary-transparent-100: rgba(148, 51, 255, 0.08),
  color-primary-transparent-200: rgba(148, 51, 255, 0.16),
  color-primary-transparent-300: rgba(148, 51, 255, 0.24),
  color-primary-transparent-400: rgba(148, 51, 255, 0.32),
  color-primary-transparent-500: rgba(148, 51, 255, 0.4),
  color-primary-transparent-600: rgba(148, 51, 255, 0.48),
  color-success-100: #DCFCD5,
  color-success-200: #B4F9AC,
  color-success-300: #80EF80,
  color-success-400: #5EE069,
  color-success-500: #2ECC4B,
  color-success-600: #21AF49,
  color-success-700: #179245,
  color-success-800: #0E763F,
  color-success-900: #08613A,
  color-success-transparent-100: rgba(46, 204, 75, 0.08),
  color-success-transparent-200: rgba(46, 204, 75, 0.16),
  color-success-transparent-300: rgba(46, 204, 75, 0.24),
  color-success-transparent-400: rgba(46, 204, 75, 0.32),
  color-success-transparent-500: rgba(46, 204, 75, 0.4),
  color-success-transparent-600: rgba(46, 204, 75, 0.48),
  color-info-100: #CCF5FE,
  color-info-200: #99E6FE,
  color-info-300: #66D0FE,
  color-info-400: #40B9FD,
  color-info-500: #0294FC,
  color-info-600: #0172D8,
  color-info-700: #0155B5,
  color-info-800: #003C92,
  color-info-900: #002B78,
  color-info-transparent-100: rgba(2, 148, 252, 0.08),
  color-info-transparent-200: rgba(2, 148, 252, 0.16),
  color-info-transparent-300: rgba(2, 148, 252, 0.24),
  color-info-transparent-400: rgba(2, 148, 252, 0.32),
  color-info-transparent-500: rgba(2, 148, 252, 0.4),
  color-info-transparent-600: rgba(2, 148, 252, 0.48),
  color-warning-100: #FFF6D9,
  color-warning-200: #FFEBB3,
  color-warning-300: #FFDD8D,
  color-warning-400: #FFCF71,
  color-warning-500: #FFB942,
  color-warning-600: #DB9530,
  color-warning-700: #B77421,
  color-warning-800: #935615,
  color-warning-900: #7A410C,
  color-warning-transparent-100: rgba(255, 185, 66, 0.08),
  color-warning-transparent-200: rgba(255, 185, 66, 0.16),
  color-warning-transparent-300: rgba(255, 185, 66, 0.24),
  color-warning-transparent-400: rgba(255, 185, 66, 0.32),
  color-warning-transparent-500: rgba(255, 185, 66, 0.4),
  color-warning-transparent-600: rgba(255, 185, 66, 0.48),
  color-danger-100: #FFDCD7,
  color-danger-200: #FFB1AF,
  color-danger-300: #FF8790,
  color-danger-400: #FF6983,
  color-danger-500: #FF386D,
  color-danger-600: #DB2869,
  color-danger-700: #B71C63,
  color-danger-800: #93115A,
  color-danger-900: #7A0A53,
  color-danger-transparent-100: rgba(255, 56, 109, 0.08),
  color-danger-transparent-200: rgba(255, 56, 109, 0.16),
  color-danger-transparent-300: rgba(255, 56, 109, 0.24),
  color-danger-transparent-400: rgba(255, 56, 109, 0.32),
  color-danger-transparent-500: rgba(255, 56, 109, 0.4),
  color-danger-transparent-600: rgba(255, 56, 109, 0.48)

), pilot-theme, default);
