<nb-card>
  <nb-card-header>{{ getStepDescription() }} </nb-card-header>
  <nb-card-body>
    <div class="feedback" *ngIf="feedback">
      <div class="date-status">
        <span class="date">{{ getFormattedDate() }} ({{ getFormattedTime() }})</span>
        <app-step-status-chip [status]="feedback.status"></app-step-status-chip>
      </div>

      <div class="notes">
        <label class="label">Notes</label>
        <input
          nbInput
          fullWidth
          type="multi"
          readonly
          [value]="getFeedbackNotes()"
        />
      </div>
    </div>
    <div class="feedback" *ngIf="!feedback">
      <p>User has not completed this step yet</p>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton fullWidth status="basic" (click)="close()">Close</button>
  </nb-card-footer>
</nb-card>
