<div>
  <ngx-spinner
    bdOpacity="0"
    bdColor="rgba(0,0,0,0)"
    size="default"
    color="rgba(0,0,0,0.5)"
    type="cube-transition"
    [fullScreen]="false"
  >
    <p>Loading...</p>
  </ngx-spinner>
  <button
    nbButton
    status="primary"
    (click)="backToAllProjects()"
    id="back-button"
  >
    <nb-icon icon="arrow-back-outline"></nb-icon>
    Exit Project
  </button>

  <div *ngIf="project">
    <div class="project-subnav">
      <h2>{{ project.projectName }}</h2>
      <button
        nbButton
        status="primary"
        [nbContextMenu]="projectSettings"
        nbContextMenuTag="project-settings"
      >
        Settings
      </button>
    </div>

    <nb-card class="tabs-view">
      <nb-card-body>
    
        <nb-tabset>
          <nb-tab tabTitle="Tests" id="no-h-padding">
            <div class="tab-content">
              <div id="suites-list-container">
                <div class="add-suite-container">
                  <!-- <span class="menu-title"><strong>+ Add Suite</strong></span> -->
                  
                  <span *ngIf="!getIsAddingSuite()">
                    <button nbButton status="basic" (click)="setIsAddingSuite(true)">Add Suite</button>
                  </span>
                  <span *ngIf="getIsAddingSuite()">
                    <input
                      #suiteNameInput
                      type="text"
                      nbInput
                      fullWidth
                      placeholder="Enter Suite Name"
                      [(ngModel)]="newSuiteName"
                      (blur)="setIsAddingSuite(false)"
                      (keyup.enter)="addSuite()"
                      />
                  </span>
                </div>
                <nb-menu tag="testSuites" [items]="suites" id="suites-list"></nb-menu>
              </div>
              <div class="test-suite" *ngIf="activeSuite !== undefined">
                <h4>{{ activeSuite }}</h4>
              </div>
            </div>
          </nb-tab>
        </nb-tabset>
    
      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="!project && fetchAttemptComplete">
    <h2>Project not found :(</h2>
  </div>
</div>
