<div class="project-container">
  <ng-container *ngIf="project">
    <nb-tabset class="tabs-view">
      <nb-tab tabTitle="Tests" tabIcon="pantone-outline" class="no-h-padding">
        <div class="tab-content">
          <app-test-suite-list
            [suitesData]="project.suites"
            (suiteSelected)="updateActiveSuite($event)"
            (suiteAdded)="addSuiteToProject($event)"
          >
          </app-test-suite-list>
          <app-test-suite
            class="test-suite"
            [activeSuite]="activeSuite"
            (suiteDeleted)="suiteDeleted($event)"
          ></app-test-suite>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Results" tabIcon="done-all-outline" class="no-h-padding">
        <div class="tab-content">
          <app-results [projectId]="project.id"></app-results>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Users" tabIcon="people-outline">
        <div class="tab-content">
          <app-users [projectId]="project.id"></app-users>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Settings" tabIcon="settings-2-outline">
        <div class="tab-content">
          <app-project-settings [project]="project"> </app-project-settings>
        </div>
      </nb-tab>
    </nb-tabset>
  </ng-container>

  <div class="project-not-found" *ngIf="!project && fetchAttemptComplete">
    <h2>Project not found :(</h2>
  </div>
</div>
