.project-subnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addSuiteContainer {
  padding: var(--menu-item-padding);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--tabset-divider-color);
}

.addSuiteContainer:hover {
  background-color: var(--menu-item-hover-background-color);
  color: var(--menu-item-hover-text-color);
  cursor: var(--menu-item-hover-cursor);
}

.addSuiteContainer p {
  padding: 0;
  margin: 0;
}

#noHPadding {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#suitesListContainer {
  padding-top: 10px;
  max-width: 230px;
  border-right: 1px solid var(--tabset-divider-color);
  box-shadow: var(--shadow);
}

#suitesList {
  max-width: 100%;
}
