<div>
  <ngx-spinner
    bdOpacity="0"
    bdColor="rgba(0,0,0,0)"
    size="default"
    color="rgba(0,0,0,0.5)"
    type="cube-transition"
    [fullScreen]="false"
  >
    <p>Loading...</p>
  </ngx-spinner>
  <button
    nbButton
    status="primary"
    (click)="backToAllProjects()"
    id="back-button"
  >
    <nb-icon icon="arrow-back-outline"></nb-icon>
    Exit Project
  </button>

  <div *ngIf="project">
    <div class="project-subnav">
      <h2>{{ project.projectName }}</h2>
      <button
        nbButton
        status="primary"
        [nbContextMenu]="projectSettings"
        nbContextMenuTag="project-settings"
      >
        Settings
      </button>
    </div>

    <nb-card class="tabs-view">
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Tests" id="no-h-padding">
            <div class="tab-content">
              <app-test-suite-list 
                [suitesData]="project.suites"
                (suiteSelected)="updateActiveSuite($event)"
                (suiteAdded)="addSuiteToProject($event)"
              >
              </app-test-suite-list>
              <app-test-suite  
                class="test-suite"
                [activeSuite]="activeSuite"
              ></app-test-suite>
            </div>
          </nb-tab>
        </nb-tabset>
    
      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="!project && fetchAttemptComplete">
    <h2>Project not found :(</h2>
  </div>
</div>
