<nb-card class="centered medium">
  <nb-card-header>
    <h6>Sign Up</h6>
  </nb-card-header>
  <nb-card-body class="form-inputs" *ngIf="!accountCreated">
    <form>
      <div class="name-fields">
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="First name"
          [(ngModel)]="firstName"
          [ngModelOptions]="{standalone: true}"
          autocomplete="given-name"
        />
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Last name"
          [(ngModel)]="lastName"
          [ngModelOptions]="{standalone: true}"
          autocomplete="family-name"
        />
      </div>

      <input
        type="text"
        nbInput
        fullWidth
        placeholder="Organisation Name"
        [(ngModel)]="organisation"
        [ngModelOptions]="{standalone: true}"
        autocomplete="organization"
      />

      <input
        type="text"
        nbInput
        fullWidth
        placeholder="Email"
        [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}"
        autocomplete="email"
      />

      <input
        type="password"
        nbInput
        fullWidth
        placeholder="Password"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}"
        nbPopoverTrigger="noop"
        nbPopoverPlacement="right"
        [nbPopover]="passwordProtocolTooltip"
        (focus)="showPasswordProtocols(true)"
        (blur)="showPasswordProtocols(false)"
        autocomplete="new-password"
      />
    </form>
    <div
      class="zxcvbn-result"
      *ngIf="
        zxcvbnCheck() &&
        getZxcvbnCheckResult().score < ZXCVBN_RESULT_SCORE_WARNING
      "
      [style]="getZxcvbnCheckStyle()"
    >
      <nb-icon [icon]="getZxcvbnCheckIcon()"></nb-icon>
      <div class="content">
        <p>
          <b>{{ getZxcvbnCheckText() }}</b>
        </p>
        <p *ngIf="getZxcvbnCheckResult().feedback.warning">
          <li>{{ getZxcvbnCheckResult().feedback.warning }}</li>
        </p>
      </div>
    </div>

    <div class="buttons">
      <button nbButton status="primary" (click)="submit()">
        Create Account
      </button>
      <button nbButton status="basic">Cancel</button>
    </div>
  </nb-card-body>

  <nb-card-body *ngIf="accountCreated">
    <div>
      <h3>Welcome, {{ firstName }}.</h3>
      <button nbButton status="primary" (click)="goToDashboard()">
        Proceed to Dashboard
      </button>
    </div>
  </nb-card-body>

  <nb-card-footer *ngIf="!accountCreated">
    Already signed up? Log in <a routerLink="/login">here</a>.
  </nb-card-footer>
</nb-card>

<ng-template #passwordProtocolTooltip>
  <div class="password-protocols">
    <div class="protocol">
      <nb-icon
        [icon]="getPasswordProtocolIcon(passwordDoesContainLowercase())"
        [style.color]="
          getPasswordProtocolIconColour(passwordDoesContainLowercase())
        "
      ></nb-icon>
      Must contain at least one lowercase letter.
    </div>
    <div class="protocol">
      <nb-icon
        [icon]="getPasswordProtocolIcon(passwordDoesContainUppercase())"
        [style.color]="
          getPasswordProtocolIconColour(passwordDoesContainUppercase())
        "
      ></nb-icon>
      Must contain at least one UPPERCASE letter.
    </div>
    <div class="protocol">
      <nb-icon
        [icon]="getPasswordProtocolIcon(passwordDoesContainNumber())"
        [style.color]="
          getPasswordProtocolIconColour(passwordDoesContainNumber())
        "
      ></nb-icon>
      Must contain at least one number.
    </div>
    <div class="protocol">
      <nb-icon
        [icon]="getPasswordProtocolIcon(password.length >= 8)"
        [style.color]="getPasswordProtocolIconColour(password.length >= 8)"
      ></nb-icon>
      Must be at least 8 characters long.
    </div>
  </div>
</ng-template>
