<nb-card class="demo-account centered medium" *ngIf="!accountCreated">
  <nb-card-header>
    <h6>Open a Demo Account</h6>
  </nb-card-header>
  <nb-card-body *ngIf="loadingDemoAccount">
    <ngx-spinner
      bdColor="rgba(0, 0, 0,0)"
      size="medium"
      color="rgba(148, 52, 255,0.5)"
      type="line-scale"
      [name]="DEMO_ACCOUNT_SPINNER_NAME"
      [fullScreen]="false"
    ></ngx-spinner>
  </nb-card-body>
  <nb-card-body *ngIf="!loadingDemoAccount">
    <p class="demo-notice">
      Pilot is not currently available for commercial use, but you can still
      open a demo account to see its capabilities. Try playing around with some
      temporary demo data - see what you think!
    </p>
    <button nbButton status="primary" (click)="createDemoAccount()">
      start a demo session
    </button>
  </nb-card-body>
</nb-card>

<nb-card class="centered medium">
  <nb-card-header>
    <h6 class="sign-up-header">Sign Up</h6>
  </nb-card-header>
  <nb-card-body class="form-inputs" *ngIf="!accountCreated">
    <form>
      <div class="name-fields">
        <input
          disabled
          type="text"
          nbInput
          fullWidth
          placeholder="First name"
          [(ngModel)]="firstName"
          [ngModelOptions]="{ standalone: true }"
          autocomplete="given-name"
        />
        <input
          disabled
          type="text"
          nbInput
          fullWidth
          placeholder="Last name"
          [(ngModel)]="lastName"
          [ngModelOptions]="{ standalone: true }"
          autocomplete="family-name"
        />
      </div>

      <input
        disabled
        type="text"
        nbInput
        fullWidth
        placeholder="Organisation Name"
        [(ngModel)]="organisation"
        [ngModelOptions]="{ standalone: true }"
        autocomplete="organization"
      />

      <input
        disabled
        type="text"
        nbInput
        fullWidth
        placeholder="Email"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
        autocomplete="email"
      />

      <input
        disabled
        type="password"
        nbInput
        fullWidth
        placeholder="Password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
        nbPopoverTrigger="noop"
        nbPopoverPlacement="right"
        [nbPopover]="passwordProtocolTooltip"
        (focus)="showPasswordProtocols(true)"
        (blur)="showPasswordProtocols(false)"
        autocomplete="new-password"
      />

      <input
        disabled
        type="password"
        nbInput
        fullWidth
        placeholder="Confirm Password"
        [(ngModel)]="confirmPassword"
        [ngModelOptions]="{ standalone: true }"
        nbPopoverTrigger="noop"
        nbPopoverPlacement="right"
        [nbPopover]="passwordProtocolTooltip"
        (focus)="showPasswordProtocols(true)"
        (blur)="showPasswordProtocols(false)"
        autocomplete="new-password"
      />
      <div id="terms-check">
        <nb-checkbox
          disabled
          [(ngModel)]="acceptedTerms"
          [ngModelOptions]="{ standalone: true }"
          >By signing up I agree to Pilot's
          <a target="_blank" routerLink="/terms"
            >Terms of Service & Privacy Policy</a
          ></nb-checkbox
        >
      </div>
    </form>
    <div
      class="zxcvbn-result"
      *ngIf="
        zxcvbnCheck() &&
        getZxcvbnCheckResult().score < ZXCVBN_RESULT_SCORE_WARNING
      "
      [style]="getZxcvbnCheckStyle()"
    >
      <div class="warning-title">
        <nb-icon [icon]="getZxcvbnCheckIcon()"></nb-icon>
        <h6>Warning</h6>
      </div>
      <div class="content">
        <p>
          <b>{{ getZxcvbnCheckText() }}</b>
        </p>
        <p *ngIf="getZxcvbnCheckResult().feedback.warning">
          <li>{{ getZxcvbnCheckResult().feedback.warning }}</li>
        </p>
        <div *ngIf="getZxcvbnCheckResult().feedback.suggestions.length > 0">
          <p><b>Suggestions:</b></p>
          <p *ngFor="let s of getZxcvbnCheckResult().feedback.suggestions">
            <li>
              {{ s }}
            </li>
          </p>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button nbButton disabled status="primary" (click)="submit()">
        Create Account
      </button>
      <button nbButton disabled status="basic">Cancel</button>
    </div>
  </nb-card-body>

  <nb-card-body *ngIf="accountCreated">
    <div>
      <h3>Welcome, {{ firstName }}.</h3>
      <button nbButton status="primary" (click)="goToDashboard()">
        Proceed to Dashboard
      </button>
    </div>
  </nb-card-body>

  <nb-card-footer *ngIf="!accountCreated">
    Already signed up? Log in <a routerLink="/login">here</a>.
  </nb-card-footer>
</nb-card>

<ng-template #passwordProtocolTooltip>
  <div class="password-protocols">
    <div class="protocol">
      <nb-icon
        [icon]="getPasswordProtocolIcon(password.length >= 8)"
        [style.color]="getPasswordProtocolIconColour(password.length >= 8)"
      ></nb-icon>
      Must be at least 8 characters long.
    </div>
    <div class="protocol">
      <nb-icon
        [icon]="getPasswordProtocolIcon(password === confirmPassword)"
        [style.color]="
          getPasswordProtocolIconColour(password === confirmPassword)
        "
      ></nb-icon>
      Passwords must match.
    </div>
  </div>
</ng-template>
