<div class="steps">
  <div class="timeline" *ngFor="let step of steps">
    <div class="existing-step container right">
      <div class="content">
        <div class="step-details">
          <app-step-status-chip
            [status]="step.currentStatus"
          ></app-step-status-chip>
          <div class="step-description" (click)="setSelectedStep(step)">
            <p>{{ step.description }}</p>
            <nb-icon id="hover-arrow" icon="arrow-ios-forward-outline"></nb-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
