<div class="setup-form-container">
  <p>
    You don't appear to have an account, enter a password and we will set one up
    for you!
  </p>
  <div class="setup-form">
    <input
      nbInput
      fullWidth
      type="text"
      name=""
      id=""
      placeholder="First name"
      [(ngModel)]="firstName"
    />
    <input
      nbInput
      fullWidth
      type="text"
      name=""
      id=""
      placeholder="Last name"
      [(ngModel)]="lastName"
    />
    <input
      nbInput
      fullWidth
      type="text"
      placeholder="Enter password"
      [(ngModel)]="password"
    />
    <button nbButton status="primary" (click)="setup()">Continue</button>
  </div>
</div>
