.setup-form-container {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.setup-form {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-fields {
  display: flex;
  justify-content: space-between;
}

.name-fields > input {
  max-width: 48%;
}

input {
  margin: 4px 0;
}

.submit-button {
  margin: 4px 0;
}
.password-protocols {
  margin: 10px;
}

.protocol {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
  color: #909090;
  height: 20px;

  nb-icon {
    color: red;
    margin-right: 4px;
  }
}

.zxcvbn-result {
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 10px;
  margin: 10px 0;

  p {
    margin: 2px 0;
  }

  li {
    margin: 2px 0;
  }

  nb-icon {
    flex-shrink: 0;
    font-size: 2em;
    height: 40px;
    margin-right: 12px;
  }
}

.warning-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  h6 {
    margin: 0;
  }
}
