
nb-card.create-account-card {
  height: 330px;
  max-width: 500px;
  margin: 0 auto;
}

nb-card-body.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons > button {
  margin: 10px 20px 0 0;
}

.buttons > button:last-child {
  margin-right: 0px;
}