{
  "include": [
    "src/**"
  ],
  "exclude": [
    "src/database/**/*",
    "src/repositories/**/*",
    "src/dto/**/*",
    "tests/**/*",
    "src/services/middleware/joi/schemas/*"
  ],
  "excludeNodeModules": true
}