<div class="test-case">
  <ng-container *ngIf="case">
    <div class="details">
      <div>
        <div class="heading"></div>
      </div>
      <app-test-step-list
        [steps]="steps"
        (stepAdded)="caseStepAdded($event)"
        (stepUpdated)="caseStepUpdated()"
      ></app-test-step-list>
      <div class="action-buttons">
        <!-- <button nbButton status="primary" (click)="saveTest()">
          <nb-icon icon="checkmark-square-outline"></nb-icon>
          Save Changes
        </button> -->
        <button
        nbButton
        ghost
        status="danger"
        (click)="promptDeleteTest()"
      >
        <nb-icon icon="trash-2-outline"></nb-icon> Delete Case
      </button>
      </div>
    </div>
  </ng-container>
</div>
