.alert-container {
  height: 85px;
}

nb-alert.small {
  max-width: 500px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

nb-card.small {
  height: 330px;
  max-width: 500px;
}

nb-card-body.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons > button {
  margin: 10px 20px 0 0;
}

.buttons > button:last-child {
  margin-right: 0px;
}