:host {
  width: 100%;
  padding: 15px;
}

.results-matrix {
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius);

  .headings {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;

    h6 {
      margin: 0 0 8px 0;
    }
  }

  .step-column {
    text-align: left;
    flex: 2;
  }

  .client-column {
    min-width: 120px;
  }

  .suite {
    width: 100%;
    margin: 0;
    text-align: left;

    .row {
      background: var(--color-primary-transparent-500);
    }

    p {
      padding-left: 15px;
    }
  }

  .case {
    width: 100%;
    margin: 0;
    text-align: left;

    p {
      padding-left: 30px;
    }

    .row {
      background: var(--color-basic-transparent-400);
    }
    .step {

      P {
        padding-left: 45px;
      }
  
      &.row {
        background:white;
      }
    }
  }

  
}

p {
  margin: 0;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--divider-color);
  margin:-1px;
}
