:host {
  width: 100%;
  padding: 15px;
}

.results-matrix {
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius);

  .headings {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    max-height: 34px;

    h6 {
      margin: 0 0 8px 0;
    }
  }

  .step-column {
    text-align: left;
    flex: 2;
  }

  .client-column {
    min-width: 120px;
  }

  .suite {
    width: 100%;
    margin: 0;
    text-align: left;

    .row {
      background: var(--color-primary-transparent-400);

      &:hover {
        background: var(--color-primary-transparent-600);
      }
    }

    p {
      padding-left: 15px;
    }
  }

  .case {
    width: 100%;
    margin: 0;
    text-align: left;

    p {
      padding-left: 30px;
    }

    .row {
      background: var(--color-basic-transparent-300);

      &:hover {
        background: var(--color-basic-transparent-600);
      }
    }

    .step {
      P {
        padding-left: 72px;
      }

      &.row {
        background: var(--card-background-color);;

        &:hover {
          background: var(--color-primary-transparent-200);
        }
      }
    }
  }
}

p {
  margin: 0;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--divider-color);
  margin: -1px;
  box-sizing: border-box;
  padding: 4px 0;

  ::selection {
    color: none;
    background: none;
  }
  /* For Mozilla Firefox */
  ::-moz-selection {
    color: none;
    background: none;
  }
}

.sticky {
  background: var(--card-background-color);
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;

  &.headings {
    padding: 5px 34px 0 34px;
  }
}

.center {
  width: 100%;
  text-align: center;
}

.table-settings {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;

  nb-select{
    width: 300px;
  }
}

.notes {
  margin-right: 10px;
}