nb-card {
  width: 600px;
}

mat-form-field {
  width: 100%;
}

mat-form-field input {
  margin-top: 20px;
}

nb-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
