<div class="password-protocols">
  <div class="protocol">
    <nb-icon
      [icon]="getPasswordProtocolIcon(passwordDoesContainLowercase())"
      [style.color]="
        getPasswordProtocolIconColour(passwordDoesContainLowercase())
      "
    ></nb-icon>
    Must contain at least one lowercase letter.
  </div>
  <div class="protocol">
    <nb-icon
      [icon]="getPasswordProtocolIcon(passwordDoesContainUppercase())"
      [style.color]="
        getPasswordProtocolIconColour(passwordDoesContainUppercase())
      "
    ></nb-icon>
    Must contain at least one UPPERCASE letter.
  </div>
  <div class="protocol">
    <nb-icon
      [icon]="getPasswordProtocolIcon(passwordDoesContainNumber())"
      [style.color]="
        getPasswordProtocolIconColour(passwordDoesContainNumber())
      "
    ></nb-icon>
    Must contain at least one number.
  </div>
  <div class="protocol">
    <nb-icon
      [icon]="getPasswordProtocolIcon(password.length >= 8)"
      [style.color]="getPasswordProtocolIconColour(password.length >= 8)"
    ></nb-icon>
    Must be at least 8 characters long.
  </div>
</div>