<div class="first-suite-modal" *ngIf="!activeSuite">
  <h3>Add your first test suite</h3>
</div>

<div class="suite">
  <div class="suite-header">
    <div class="suite-details">
      <h5>{{ getSuiteId() }} | {{ getSuiteName() }}</h5>
    </div>
    <button nbButton ghost size="medium" status="danger" (click)="promptDeleteSuite()">
      <nb-icon icon="trash-2-outline"></nb-icon>
      Delete Suite
    </button>
  </div>

  <div class="test-input">
    <input
      type="text"
      nbInput
      fullWidth
      placeholder="Enter New Scenario"
      [(ngModel)]="newTestCase"
      (keyup.enter)="addTest()"
    />
  </div>

  <div class="tests">
    <div class="tableContainer" #testTableContainer>
      <ngx-spinner
        *ngIf="activeSuite"
        name="testCaseSpinner"
        bdOpacity="0"
        bdColor="rgba(0,0,0,0)"
        size="default"
        color="rgba(1,1,1,0.5)"
        type="cube-transition"
        [fullScreen]="false"
      >
        <p>Loading...</p>
      </ngx-spinner>

      <ngx-datatable
        *ngIf="tableCanShow"
        class="material"
        [rows]="tests"
        [columns]="columns"
        columnMode="standard"
        headerHeight="50"
        footerHeight="50"
        rowHeight="auto"
        [scrollbarV]="true"
        [scrollbarH]="false"
        selectionType="single"
        [virtualization]="false"
        (select)="newCaseSelected($event)"
      >
      </ngx-datatable>
    </div>
    <app-test-case 
    (testDeleted)="updateSelectedTestCase($event)"
    (testUpdated)="testSuiteUpdated($event)"
    >
    </app-test-case>
  </div>
</div>
