<div class="suite" *ngIf="activeSuite">
  <div class="suite-header">
    <div class="suite-details">
      <h5>{{ activeSuite.id }} | {{ activeSuite.suiteName }}</h5>
    </div>
    <button nbButton status="danger" (click)="promptDeleteSuite()">
      <nb-icon icon="trash-2-outline"></nb-icon>
      Delete Suite
    </button>
  </div>

  <div class="test-input">
    <input
      type="text"
      nbInput
      fullWidth
      placeholder="Enter Test Case"
      [(ngModel)]="newTestCase"
      (keyup.enter)="addTest()"
    />
  </div>

  <div class="tests">

    <ngx-spinner
    name="testCaseSpinner"
    bdOpacity="0"
    bdColor="rgba(0,0,0,0)"
    size="default"
    color="rgba(1,1,1,0.5)"
    type="cube-transition"
    [fullScreen]="false"
  >
    <p>Loading...</p>
  </ngx-spinner>
  
    <ngx-datatable
      *ngIf="tableCanShow"
      class="material"
      [rows]="tests"
      columnMode="force"
      headerHeight="50"
      footerHeight="50"
      rowHeight="auto"
      [scrollbarV]="true"
      [scrollbarH]="false"
      selectionType="single"
      [virtualization]="false"
      (select)="newCaseSelected($event)"
    >
      <ngx-datatable-column name="ID" [sortable]="false" flexGrow="1">
        <ng-template let-value="value" width="100" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Test Case"
        prop="testCase"
        [sortable]="false"
        [resizable]="true"
        flexGrow="4"
      >
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <app-test-case></app-test-case>
  </div>
</div>
