.suite {
  padding: 0 20px;
  width: 100%;
  height: calc(100% - 130px);
}

h5 {
  margin: 0;
}

.suite-header {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.test-input {
  margin: 10px 0;
}

.tests {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.material {
  flex: 1;
}