:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left, .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch-account-button{
  margin-right: 20px;
}

a {
  text-decoration: none;

  &:hover {
    color: #7d1ad3;
  }
}
