<div class="left">
  <ng-template #leftNavButton></ng-template>
  <img
    *ngIf="!navbarService.getActiveButton()"
    src="../../../../assets/favicons/android-chrome-512x512.png"
    style="max-height: '25px'; margin-right: '10px';"
  />
  <h3><a routerLink="/">{{ navbarService.getHeader() }}</a></h3>
</div>
<div class="right">
  <button nbButton outline status="primary" class="switch-account-button" *ngIf="isDemoAccount && isViewingProject" (click)="switchDemoAccountType()">
   View Project as {{ alternateAccountType }}
   <nb-icon icon="people-outline"></nb-icon>
  </button>
  <nb-user
    *ngIf="user"
    shape="rectangle"
    [nbContextMenu]="userContextMenuItems"
    [name]="fullName"
    nbContextMenuTag="user-menu"
    [title]="user.type"
  ></nb-user>
</div>
