<nb-card class="create-account-card">
  <nb-card-header>
    <h6>Sign Up</h6>
  </nb-card-header>
  <nb-card-body class="form-inputs" *ngIf="!accountCreated">
    <input
      type="text"
      nbInput
      fullWidth
      placeholder="Your name"
      [(ngModel)]="name"
    />

    <input
      type="text"
      nbInput
      fullWidth
      placeholder="Email"
      [(ngModel)]="email"
    />

    <input
      type="password"
      nbInput
      fullWidth
      placeholder="Password"
      [(ngModel)]="password"
    />

    <div class="buttons">
      <button nbButton status="primary" (click)="submit()">
        Create Account
      </button>
      <button nbButton status="basic">Cancel</button>
    </div>
  </nb-card-body>

  <nb-card-body *ngIf="accountCreated">
    <div>
      <h3>Welcome, {{ name }}.</h3>
      <p>A verification email will be sent to {{ email }} shortly.</p>
    </div>
  </nb-card-body>

  <nb-card-footer *ngIf="!accountCreated">
    Already signed up? Log in <a routerLink="/login">here</a>.
  </nb-card-footer>
</nb-card>
