.projects {
  display: flex;
  width: 100%;
}

.project {
  width:300px;
  height: 100px;
  text-decoration: none;
}

.project > nb-card {
  height: 100%;
}

.projects > .project:not(:last-child) {
  margin-right:30px;
}

.project-title {
  font-size: 1.5em;
}